/* Mobile */
@media (max-width: 480px) {
    header {
        width: 90vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        img {
            width: 150px;
        }

        nav ul {
            display: flex;
            justify-content: space-around;
            width: 100%;
            gap: 1rem;
        }
    }

    section {
        .container {
            width: 100vw;
            padding: 10px;
        }

        .list {
            width: 90vw;
            overflow: hidden;

            .item {
                .car-img img {
                    width: 80%;
                }

                .content {
                    right: 10px;
                    width: 90%;
                    height: 100%;

                    h2 {
                        font-size: 2.5em;
                    }

                    .description {
                        font-size: 12px;
                        padding: 0.5rem;
                    }

                    .information {
                        width: 100px;
                        font-size: 12px;
                    }
                }
            }
        }

        .indicators {
            top: 60%;
            left: 50%;
            transform: translateX(-50%);
            width: 90%;
            justify-content: center;

            .number {
                font-size: 3em;
            }

            ul {
                justify-content: center;
                flex-direction: column;
            }
        }

        .arrows {
            width: 100vw;

            button {
                width: 40px;
                height: 40px;

                img {
                    width: 20px;
                }
            }
        }
    }
}

/* Extra small devices */
@media (min-width: 481px) and (max-width: 767px) {
    header {
        width: 90vw;
        grid-template-columns: 1fr;
        gap: 20px;

        img {
            width: 200px;
        }

        nav ul {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    section {
        .list {
            width: 90vw;

            .item .content {
                right: 20px;
                width: 80%;

                h2 {
                    font-size: 3.5em;
                }

                .description {
                    font-size: 12px;
                }
            }
        }

        .indicators {
            display: none;
        }

        .arrows {
            width: 90vw;
        }
    }
}

/* Small tablets */
@media (min-width: 768px) and (max-width: 991px) {
    header {
        width: 90vw;
        grid-template-columns: 1fr 400px;
        gap: 25%;

        img {
            width: 200px;
        }

        nav ul {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    section {
        .list {
            width: 90vw;

            .item .content {
                right: 30px;
                width: 70%;

                h2 {
                    font-size: 4em;
                }

                .description {
                    font-size: 13px;
                }
            }
        }

        .arrows {
            width: 90vw;
        }
    }
}

/* Large tablets/laptops */
@media (min-width: 992px) and (max-width: 1199px) {
    header {
        width: 90vw;
        grid-template-columns: 1fr 500px;
        gap: 30%;

        img {
            width: 200px;
        }

        nav ul {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    section {
        .list {
            width: 90vw;

            .item .content {
                right: 40px;
                width: 70%;

                h2 {
                    font-size: 4.5em;
                }

                .description {
                    font-size: 14px;
                }
            }
        }

        .arrows {
            width: 90vw;
        }
    }
}

/* Desktops */
@media (min-width: 1200px) and (max-width: 1919px) {
    header {
        width: 80vw;
        grid-template-columns: 1fr 600px;
        gap: 35%;

        img {
            width: 250px;
        }

        nav ul {
            grid-template-columns: repeat(3, 200px);
        }
    }

    section {
        .list {
            width: 70vw;

            .item .content {
                right: 60px;
                width: 70%;

                h2 {
                    font-size: 5em;
                }

                .description {
                    font-size: 16px;
                }
            }
        }

        .arrows {
            width: 70vw;
        }
    }
}

/* Extra large screens */
@media (min-width: 1920px) {
    header {
        width: 80vw;
        grid-template-columns: 1fr 600px;
        gap: 35%;

        img {
            width: 250px;
        }

        nav ul {
            grid-template-columns: repeat(3, 200px);
        }
    }

    section {
        .list {
            width: 70vw;

            .item .content {
                right: 60px;
                width: 70%;

                h2 {
                    font-size: 5em;
                }

                .description {
                    font-size: 16px;
                }
            }
        }

        .arrows {
            width: 70vw;
        }
    }
}